<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card" *ngFor="let item of items | async; let i = index">
        <div class="card-header">
          Cost #{{i}}
        </div>
        <div class="card-block">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Cost Type</label>
              <div class="col-md-9">
                <input type="text" #updatetext [value]="item.text"  id="question" name="question" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Amount</label>
              <div class="col-md-6">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" #updatedefault [value]="item.default"  id="default" name="default" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">&times;</span>
                  <input type="text" #newmulti  [value]="item.multi" id="new-multiplier" name="new-multiplier" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">One Time?</label>
              <div class="col-md-9">
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" #updatedcheck [checked]="item.otc">
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="updateItem(item.$key, updatetext.value, updatedefault.value, newmulti.value, updatedcheck.checked)"><i class="fa fa-dot-circle-o"></i> Update</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="deleteItem(item.$key)"><i class="fa fa-ban"></i> Delete</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Add a Cost</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Cost Type</label>
              <div class="col-md-9">
                <input class="form-control" type="text" [(ngModel)]="newName" [ngModelOptions]="{standalone: true}" placeholder="new question" autofocus/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Amount</label>
              <div class="col-md-6">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" [(ngModel)]="defaultdata" [ngModelOptions]="{standalone: true}" placeholder="Default $">
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">&times;</span>
                  <input class="form-control" [(ngModel)]="multiplier" [ngModelOptions]="{standalone: true}" placeholder="0">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">One Time?</label>
              <div class="col-md-9">
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="onetime" [ngModelOptions]="{standalone: true}" checked>
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="addItem()"><i class="fa fa-plus-circle"></i> Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.col-->
