<form class="form-horizontal">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Cost of Ownership</strong>
            <small>Form</small>
          </div>
          <div class="card-block">
            <div class="form-group" *ngFor="let item of answerdata | async ; let i = index" >
              <label>
                <span class="badge badge-danger" data-toggle="modal" (click)="deleteItem(item.$key)">delete</span>
                What is the {{item.qst}} ?
              </label>
              <div class="row">
                <div class="col-8">
                  <div class="input-prepend input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" #updatedata [placeholder]="item.data"  id="default" name="default" class="form-control" (blur)="submitAnswer(item.$key, updatedata.value)">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-prepend input-group">
                    <span class="input-group-addon">&times;</span>
                    <input type="text" #updatemultiplier [placeholder]="item.multiplier"  id="multiplier" name="multiplier" class="form-control" (blur)="submitMultiplier(item.$key, updatemultiplier.value)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong>Add a Cost</strong>
          </div>
          <div class="card-block">
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Cost Type</label>
                <div class="col-md-9">
                  <input class="form-control" type="text" [(ngModel)]="newtype" [ngModelOptions]="{standalone: true}" placeholder="what is the type?" autofocus/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Amount</label>
                <div class="col-md-6">
                  <div class="input-prepend input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" [(ngModel)]="newcost" [ngModelOptions]="{standalone: true}" placeholder="enter amount..">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-prepend input-group">
                    <span class="input-group-addon">&times;</span>
                    <input class="form-control" [(ngModel)]="newmulti" [ngModelOptions]="{standalone: true}" placeholder="0">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">One Time?</label>
                <div class="col-md-9">
                  <label class="switch switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="onetime" [ngModelOptions]="{standalone: true}" checked>
                    <span class="switch-label"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>

            </form>
          </div>
          <div class="card-footer">
              <button type="button" class="btn btn-sm btn-danger" (click)="addForm()"><i class="fa fa-plus-circle"></i> Add</button>
              <button type="submit" class="btn btn-sm btn-primary" (click)="submitForm()" routerLink="/ownership-cost-final"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>

      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</form>
